<%- include('header')  -%> 

<h2 class="about--heading">Welcome to the About Us page</h2>
<p class="about--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eum eligendi. Vero nisi harum dolorem, sit provident similique mollitia ducimus.</p>

<%- include('footer') -%> 